#contents {
    width: 500px;
    height: 400px;
    margin: 10px 0px 10px 10px;
    overflow: auto;
}

#contents_in {
    padding: 10px;
}

.title {
    width: 470px;
    height: 30px;
    font-size: 13px;
    font-weight: 700;
    border-style: none;
}

.middle_line {
    border-width: 1px;
    border-bottom-width: 0px;
    margin: 0px;
}

.text {
    width: 470px;
    height: 280px;
    margin: 10px 0px 10px 0px;
    font-size: 11px;
    border-style: none;
    resize: none;
}

.save {
    float: right;
}