@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

#contents {
    width: 505px;
    height: 420px;
}

#contents_in {
    width: 500px;
    height: 310px;
    padding: 10px 0px 4px 10px;
    overflow: auto;
}

.day {
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    cursor: pointer;
}

.date_record {
    font-size: 13px;
    font-weight: 700;
    color: rgb(107, 74, 43);
    margin: 10px;
}

.text {
    font-family: 'Single Day', cursive;
    font-size: 15px;
    margin: 10px;
}

.gray_font_11 {
    color: gray;
    font-size: 11px;
}

.public_set {
    font-size: 10px;
    color: gray;
}

.comment {
    display: flex;
    font-size: 12px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 5px;
}

span {
    margin: auto;
}

.input_text {
    width: 320px;
    margin: auto;
    padding: 2px 1px 1px 1px;
}

.confirm {
    margin-left: 10px;
    padding: 0px 3px 0px 3px;
}

.public_set_dropdown {
    position: relative;
    display: inline-block;
    font-size: 11px;
    color: gray;
    margin: 0px;
    cursor: pointer;
}

.public_set_dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    text-align: center;
}

.public_set_dropdown:hover .public_set_dropdown_content {
    display: block;
}

.width_line {
    border-bottom: 0px;
    margin: 2px;
}

.bottom {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    padding: 0px 2px 5px 2px;
}

.bottom_left {
    flex: 0.5;
    color: gray;
}

.bottom_right {
    flex: 0.5;
    text-align: right;
}

#secret_button {
    transition: 0.8s ease all;
    width: 180px;
    padding: 10px;
    margin: auto;
    color: white;
}

.font_white {
    color: white;
}

#secret_button:hover {
    background-color: rgb(107, 74, 43);
    border-radius: 5px;
}

/* calendar */
.date-box {
    width: 490px;
    border: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.today {
    margin: 5px;
    text-align: center;
    color: rgb(107, 74, 43);
    font-weight: 700;
}

.date-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.date {
    color: #707070;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(107, 74, 43);
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

#empty {
    display: none;
    font-size: 15px;
    text-align: center;
    margin: 100px;
}