@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

#contents {
    width: 500px;
    height: 400px;
    margin: 10px 0px 10px 10px;
    overflow: auto;
}

#contents_in {
    padding: 10px 0px 10px 10px;
}

.day {
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray; 
}

.date {
    font-size: 13px;
    font-weight: 700;
    color: rgb(0, 133, 173);
    margin: 10px;
}

.text {
    font-family: 'Single Day', cursive;
    font-size: 15px;
    margin: 10px;
}

.gray_font_11 {
    color: gray;
    font-size: 11px;
}

.public_set {
    font-size: 10px;
    color: gray;
}

.comment {
    display: flex;
    font-size: 12px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 5px;
}

span {
    margin: auto;
}

.input_text {
    width: 320px;
    margin: auto;
    padding: 2px 1px 1px 1px;
}

.confirm {
    margin-left: 10px;
    padding: 0px 3px 0px 3px;
}

.public_set_dropdown {
    position: relative;
    display: inline-block;
    font-size: 11px;
    color: gray;
    margin: 0px;
    cursor: pointer;
}

.public_set_dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    text-align: center;
}

.public_set_dropdown:hover .public_set_dropdown_content {
    display: block;
}

.width_line {
    border-bottom: 0px;
    margin: 2px;
}

.bottom {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    padding: 0px 2px 5px 2px;
}

.bottom_left {
    flex: 0.5;
    color: gray;
}

.bottom_right {
    flex: 0.5;
    text-align: right;
}

#secret_button {
    transition: 0.8s ease all;
    width: 180px;
    padding: 10px;
    margin: auto;
    color: white;
}

.font_white {
    color: white;
}

#secret_button:hover {
    background-color: skyblue;
    border-radius: 5px;
}

.calendar {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.main_day {
    flex: 0.1;
    color: skyblue;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin: 2px 10px 2px 10px;
}

.days {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: auto;
}

.numbers {
    margin: 2px;
}

.color_blue {
    color: blue;
}

.color_red {
    color: red;
}

.color_white {
    color: white;
}

.font_20 {
    font-size: 20px;
}

/* secret_css */

.center {
    text-align: center;
    margin: 150px;
}

.pw_check {
    margin: 5px;
}

.back_diary {
    width: 150px;
    background-color: skyblue;
    font-size: 12px;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin: auto;
}